BeautifulSoup
Flask
GoogleTranslator
MIMEMultipart
MIMEText
Path
Sign_up_email_body_template
ThreadPoolExecutor
Translator
aiohttp
asyncio
bs4
calculate_ovr
concurrent.futures
csv
datetime
deep_translator
dotenv
email.mime.multipart
email.mime.text
features.ovrCalculation
features.send_signup_email
features.signupEmailBody
flask
functools
google.generativeai
googletrans
json
jsonify
load_dotenv
lru_cache
os
pathlib
personalizedEmail
personalizedEmailContent
pytz
random
redirect
render_template
request
requests
secrets
secure_filename
send_from_directory
send_sign_up_email
session
smtplib
ssl
statsapi
timedelta
url_for
uuid
werkzeug.utils
