Flask==3.0.0
beautifulsoup4==4.12.2
google-cloud-translate==3.12.0
aiohttp==3.9.1
asyncio==3.4.3
deep-translator==1.11.4
python-dotenv==1.0.0
google-generativeai==0.3.1
googletrans==3.1.0a0
requests==2.31.0
pytz==2023.3.post1
Werkzeug==3.0.1
statsapi==1.6.0
secure-smtplib==0.1.1
concurrent-futures==3.0.5
pathlib==1.0.1
